[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psutil = "==7.0.0"
pyinstaller = "==6.14.1"
requests = "==2.32.4"

[dev-packages]

[requires]
python_version = "3.12"
